extends layout/default_layout

block contents
  //- h1= title

  div#app

    table.table._table-striped.table-bordered._table-dark.w-100
      thead.thead-light
        tr
          th(width="14%") Current Block
          th(width="14%") API Version
          //th(width="*") Client/Node Version
          th(width="30%") Current Gas Price
          th(width="14%") Hashrate
      tr
        td
          a(v-bind:href="'/block/' + blockNumber") {{ blockNumber }}
        td {{ api }}
        //td {{ node }}
        td {{ gasPrice }}
        td {{ hashrate }}

    //- h4 Latest Block: 
      a(v-bind:href="'/block/' + blockNumber") {{ blockNumber }}

    //- ========================
    //- Recent Blocks
    //- ========================
    h1
      span.ml-1 Recent Blocks

    table.table.table-striped._table-bordered._table-dark.w-100
      thead._thead-light
        tr
          th Block #
          th # Tx Hash / Miner
          th Gas Used / Gas Limit
          th Difficulty
          th Timestamp
      tbody
      tr(v-if="blocks.length === 0")
        td(colspan="6")
          div(style="text-align:center") loading...
      tr(v-for="block in blocks", v-if="blocks.length > 0")
        td
          a(v-bind:href="'/block/' + Number(block.number).toString(10)") {{ Number(block.number).toString(10) }}
        td
          div
            a(v-bind:href="'/block/' + block.hash.toString(10)") {{ block.hash }}
          div
            span(style="padding-right:5px;color:#777;") Mine by
            a(v-bind:href="'/address/' + block.miner.replace('0x','ong').toString(10)+ '/1/'") {{ block.miner.replace('0x','ong') }}
            //span {{ Number(block.value).toString(10) }}
        td {{ Number(block.gasUsed).toString(10) }} / {{ Number(block.gasLimit).toString(10) }}
        td {{ Number(block.difficulty).toString(10) }}
        td {{ new Date(block.timestamp * 1000).Format("yyyy/MM/dd hh:mm:ss") }}

    //- ========================
    //- Recent Transactions
    //- ========================
    h1
      span.ml-1 Recent Transactions

    table.table.table-striped._table-bordered._table-dark.w-100
      thead._thead-light
        tr
          th TxHash
          th Block
          th Value
          th From 
          th To
          th Gas Used
          th Gas Price
          th Tx Fee
      tbody
        tr(v-if="txs.length === 0")
          td(colspan="8")
            div(style="text-align:center")
              i.fas.fa-2x.fa-spinner.fa-pulse
        tr(v-for="tx in txs", v-if="txs.length > 0")
          td
            a.d-inline-block.text-truncate(v-bind:href="'/tx/' + tx.hash", style="max-width:200px") {{ tx.hash }}
          td
            a(v-bind:href="'/block/' + Number(tx.blockNumber).toString(10)") {{ Number(tx.blockNumber).toString(10) }}
          td {{ web3.fromWei(tx.value, 'onger').toString(10) + ' ONG' }}
          td
            a.d-inline-block.text-truncate(v-bind:href="'/address/' + tx.from+ '/1/'", style="max-width:150px") {{ tx.from }}
          td
            span(v-if="tx.to === '0x0'") {{ tx.to }}
            a.d-inline-block.text-truncate(v-if="tx.to !== '0x0'", v-bind:href="'/address/' + tx.to+ '/1/'", style="max-width:150px") {{ tx.to }}
          td {{ Number(tx.gas).toString(10) }}
          td {{ web3.fromWei(tx.gasPrice, 'onger').toString(10) + ' ONG' }}
          td {{ web3.fromWei((tx.gas * tx.gasPrice), 'onger').toString(10) + ' ONG' }}

  script.

    var app = new Vue({
      el: '#app',
      data: { 
        api: null,
        node: null,
        gasPrice: null,
        hashrate: null,
        blockNumber: null,
        blocks: [],
        txs:[]
      },
      created: function() {
        init.bind(this)();
      }
    });

    function getNetwork() {
      return new Promise((res, rej) => {
        web3.version.getNetwork((error, result) => {
          if(error) rej(error);
          else res(result);
        });
      });
    }

    function getNode() {
      return new Promise((res, rej) => {
        web3.version.getNode((error, result) => {
          if(error) rej(error);
          else res(result);
        });
      });
    }

    function getPeerCount() {
      return new Promise((res, rej) => {
        web3.net.getPeerCount((error, result) => {
          if(error) rej(error);
          else res(result);
        });
      });
    }

    function getHashrate() {
      return new Promise((res, rej) => {
        web3.ong.getHashrate((error, result) => {
          if(error) rej(error);
          else res(result);
        });
      });
    }

    function getBlockNumber() {
      return new Promise((res, rej) => {
        web3.ong.getBlockNumber((error, result) => {
          if(error) rej(error);
          else res(result);
        });
      });
    }

    function getGasPrice(hashStringOrBlockNumber) {
      return new Promise((res, rej) => {
        web3.ong.getGasPrice((error, result) => {
          if(error) rej(error);
          else res(result);
        });
      });
    }

    function getTransaction(hash) {
      return new Promise((res, rej) => {
        web3.ong.getTransaction(hash, (error, result) => {
          if(error) rej(error);
          else res(result);
        });
      });
    }

    async function getRecentBlocks(self) {
      $.ajax({
        url: "#{env.ORANGE_RPC_URL}/api/v1/block/list",
        type: "POST",
        data: {
          "page_no": 1,
          "page_size": 10
        },
        success: function (data) {
          self.blocks = data.data.list;
          self.blockNumber = Number(data.data.list[0].blockNumber).toString(10);
        },
        fail: function (err) {
          console.log(err);
        }
      });
    }

    async function getRecentTransactions(self){
      $.ajax({
        url: "#{env.ORANGE_RPC_URL}/api/v1/transactions/list",
        type: "POST",
        data: {
          "page_no": 1,
          "page_size": 10
        },
        success: function (data) {
          self.txs = data.data.list;
        },
        fail: function (err) {
          console.log(err);
        }
      });
    }

    // init Function
    async function init() {
      var self = app || this;

      //- getNode().then(r=>console.log(r));
      self.api = web3.version.api;
      getNode().then(r =>  self.node = r);
      getHashrate().then(r =>  self.hashrate = r);
      //- getGasPrice().then(r =>  self.gasPrice = r.toString(10) + ' (' +  web3.fromWei(r, 'onger').toString(10) + ' ONG)');
      getGasPrice().then(r =>  self.gasPrice = r.toString(10) + ' (' +  web3.fromWei(r, 'gwei').toString(10) + ' Gwei)');

      var blockNumber = await getBlockNumber();
      self.blockNumber = blockNumber;

      getRecentBlocks(self);
      setInterval(function (){
        getRecentBlocks(self);
      },3000);

      getRecentTransactions(self);
      setInterval(function () {
        getRecentTransactions(self);
      }, 3000);

    }
